In [23]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'2.3.1'

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv")

In [4]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

### Q2. Records count

In [5]:
df.shape[0]

9704

### Q3. Fuel types
How many fuel types are presented in the dataset?

In [6]:
df['fuel_type'].nunique()

2

### Q4. Missing values
How many columns in the dataset have missing values?

In [10]:
df.isnull().any().sum()

np.int64(4)

### Q5. Max fuel efficiency
What's the maximum fuel efficiency of cars from Asia?

13.75
23.75
33.75
43.75

In [11]:
df[df['origin']=='Asia']['fuel_efficiency_mpg'].max()

np.float64(23.759122836520497)

### Q6. Median value of horsepower
Find the median value of horsepower column in the dataset.
Next, calculate the most frequent value of the same horsepower column.
Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.
Now, calculate the median value of horsepower once again.
Has it changed?

In [12]:
print("Initial median",df['horsepower'].median())
frequent_value=df['horsepower'].value_counts().max()
df['horsepower_fixed']=df['horsepower'].fillna(frequent_value)
print("Final median",df['horsepower_fixed'].median())

Initial median 149.0
Final median 146.0

Yes, it decreased

### Q7. Sum of weights
1. Select all the cars from Asia
1. Select only columns vehicle_weight and model_year
1. Select the first 7 values
1. Get the underlying NumPy array. Let's call it X.
1. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
1. Invert XTX.
1. Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
1. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
1. What's the sum of all the elements of the result?
1. Note: You just implemented linear regression. We'll talk about it in the next lesson.

0.51

In [38]:
df[df['origin']=='Asia'].head()
X=df[df['origin']=='Asia'][['vehicle_weight','model_year']].head(7).values
XTX=X.T.dot(X)
print("XTX:",XTX)
XTX_INV=np.linalg.inv(XTX)
print("XTX_INV:",XTX_INV)
print(XTX_INV.dot(XTX))
y=np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
print(y)
w=XTX_INV.dot(X.T).dot(y)
print(w.sum())

XTX: [[62248334.33150762 41431216.5073268 ]
 [41431216.5073268  28373339.        ]]
XTX_INV: [[ 5.71497081e-07 -8.34509443e-07]
 [-8.34509443e-07  1.25380877e-06]]
[[ 1.00000000e+00  2.13808046e-15]
 [-3.87615815e-15  1.00000000e+00]]
[1100 1300  800  900 1000 1100 1200]
0.5187709081074016